.App {
  text-align: center;
  background: purple;
}

body {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  /* background-image: url("./images/enjoytoday.jpg"); */
  /* background-size: auto 100%; */
  /* height: 100vh; */
  /* position: fixed;
  top: 0;
  left: 0;
  Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.carousel {

  height:50px;
  
  }
  
  .carousel-inner   {
  height:350px;
  object-fit: contain;
  
  }

 .carousel {
  height: 100px;
  width: auto;
  object-fit: contain;
  /* height:auto; */
  object-fit: contain;
  position:absolute; 
  } 
  
   .carousel-inner > .item > img{
    margin:auto;
    margin:auto;
    width:100%
    } 

     
  
    div.carousel div.item > img {
      width: 100%;
      height: auto;
    } 

h1 {
  color: purple;
  text-align: center;
  /* font-family: cambria; */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  /* transform: rotateZ(-360deg); */
}

h5.modal-title {
  color: purple;
  /* font-family: cambria; */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin: 0 auto
}

p.lead {
  text-align: center;
  /* font-family: cambria; */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: purple;
}

.subtitle {
  text-align: center;
  /* font-family: cambria; */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: purple;
}




.modal {
  color: purple;
  text-align: center;
  /* font-family: cambria; */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.modalheader {
  color: purple;
  text-align: center;
  /* font-family: cambria; */
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
/* 
.rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
} */

/* p {
  font-family: cambria;
  font-size: 45px;
  text-align: center;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */