.App {
  text-align: center;
  background: purple;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-intro {
  font-size: large;
} */

body {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

/* div { 
  text-align: center;
  font-family: cambria;
  font-weight: bold;
}

label { 
  text-align: center;
} */

/* div.modal-header {
text-align: center;
} */

h1 {
  color: purple;
  text-align: center;
  font-family: cambria;
  font-weight: bold;
}

h5.modal-title {
  color: purple;
  font-family: cambria;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto
}

/* .label {
  text-align: center;
} */

p.lead {
  text-align: center;
  font-family: cambria;
  font-weight: bold;
  font-size: 35px;
}

.modal {
  color: purple;
  text-align: center;
  font-family: cambria;
  font-weight: bold;
}

.modalheader {
  color: purple;
  text-align: center;
  font-family: cambria;
  font-weight: bold;
}

/* p {
  font-family: cambria;
  font-size: 45px;
  text-align: center;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
